<%= turbo_frame_tag "vegetables_square" do %>
  <div class="content-card vegetables-card">
    <h3>Vegetables</h3>
    <h4><%= @vegetable[:name] %></h4>
    <p><%= @vegetable[:description] %></p>
  </div>
<% end %>