<%= turbo_frame_tag "vegetables_square" do %>
  <div class="content-card vegetables-card">
    <h3>Vegetables</h3>
    <ul>
      <% @vegetables.each do |veg| %>
        <li><%= veg %></li>
      <% end %>
    </ul>
  </div>
<% end %>