<%= turbo_frame_tag "proteins_square" do %>
  <div class="content-card proteins-card">
    <h3>Proteins</h3>
    <ul>
      <% @proteins.each do |protein| %>
        <li><%= protein %></li>
      <% end %>
    </ul>
  </div>
<% end %>