<%= turbo_stream.update "fruits-square" do %>
  <div class="square themed yellow">
    <h3>Fruits</h3>
    <ul>
      <% @fruits.each do |fruit| %>
        <li><%= link_to fruit, internproject_fruits_detail_path(fruit: fruit), data: { turbo_stream: true } %></li>
      <% end %>
    </ul>
  </div>
<% end %>
