<turbo-frame id="square_fruits">
  <h2>Fruit Detail</h2>
  <p>You are viewing: <strong><%= @fruit %></strong></p>
  
  <a href="/internproject2/fruits" data-turbo-frame="square_fruits">Back to list</a>
</turbo-frame>