<%= turbo_frame_tag "fruits_square" do %>
  <div class="content-card fruits-card">
    <h3>Fruits</h3>
    <ul>
      <% @fruits.each do |fruit| %>
        <li><%= fruit %></li>
      <% end %>
    </ul>
  </div>
<% end %>