<%= turbo_stream.update "drinks-square" do %>
  <div class="square themed red">
    <h3>Drinks</h3>
    <ul>
      <% @drinks.each do |drink| %>
        <li><%= drink %></li>
      <% end %>
    </ul>
  </div>
<% end %>
