<%= turbo_frame_tag "drinks_square" do %>
  <div class="content-card drinks-card">
    <h3>Drinks</h3>
    <ul>
      <% @drinks.each do |drink| %>
        <li><%= drink %></li>
      <% end %>
    </ul>
  </div>
<% end %>