<%= turbo_stream.update "vegetables-square" do %>
  <div class="square themed red">
    <h3><%= @vegetable %>Vegetable</h3>
    <p>A healthy food choice packed with vitamins and minerals.</p>
  </div>
<% end %>
