<%= turbo_stream.update "proteins-square" do %>
  <div class="square themed red">
    <h3><%= @protein %>Protein</h3>
    <p>A vital macronutrient essential for building muscle.</p>
  </div>
<% end %>
